<!DOCTYPE html>
<htm lang="en-US">
  <head>
    <title>Document Control</title>
    <meta charset="UTF-8"/>
  </head>
  <body>
    <% if session[:message] %>
      <div>
        <p><%= session.delete(:message) %> </p>
      </div>
    <% end %>
    <main>
      <%= yield %>
    </main>
  </body>
</htm>